/* Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

/* ------------------------------- */
/*  Main body styles for desktop   */
/* ------------------------------- */

body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	overflow-x:hidden; 
	background-color: #f1f1f1;
}

.header {
	width: 100%;
	background-color: #041A9B;
	z-index: 6;
	position: fixed;
	height: 50px;
}

.body-content {
	padding: 20px;
}

table {
	border-spacing: 0;
}

a {
	text-decoration: none;
	color:#041A9B;
}

a:hover {
	color:#555;
}

h2 {
	color: #333;
}

p {
	padding: 15px 0 15px 0;
	color:#333;
	font-size: 0.9em;
	line-height: 2em;
}



/* ------------------------------- */
/*  Calendar Styling               */
/* ------------------------------- */


.cal-nav-select {
	background-color: #809DC4;
	color:#fff;
	cursor: pointer;
}

.week {
	width: 100%;
	background-color: #dedede;
}

.cal-nav {
	width: 100%;
	color:#666;
	height:50px;
	background-color: #000;
}

.cal-nav li {
	text-align: center;
	display: inline;
	list-style-type: none;
	width: 200px;
	border-left: 1px solid  #bbb;
	margin: 20px 0;
	transition: background-color .5s;
	-moz-transition: background-color .5s; /* Firefox 4 */
	-webkit-transition: background-color .5s; /* Safari and Chrome */
	-o-transition: background-color .5s; /* Opera */
}

.cal-nav li:hover {
	cursor: pointer;
}

.cal-nav .date-num {
	font-size: 2em;
	float: left;
	clear: none;
}

.cal-nav .date-day {
	font-size: .7em;
	float: left;
	padding-left: 10px;
	text-transform: uppercase;
	padding-top: 7px;
}

.cal-nav .last {
	border-right: 1px solid #bbb;
}


.nav-status {
	font-size: .8em;
	background-color: #809DC4;
	color:#eee;
	position: fixed;
	margin-top: 50px;
	z-index: 1;
	width: 100%;
}

.nav-status p {
	float: left;
	padding: 8px 0 8px 0;
}

.cal-wrap {
	margin-left: 15px;
	z-index: 0;
	background-color: #FFF;
	padding-top: 89px;
}

.calendar {
	overflow-y: hidden;
	margin-top: 38px;
}

.calendar tbody{
	margin-top: 50px;
}

.times {
	float: left;
	padding-top: 50px;
	margin-top: 38px;
	position: relative;
}

.times td div{
	border: 1px solid #eee;
	height: 48px;
	font-size: .75em;
	width: 60px;
	text-align: right;
}

.calendar-body {
	height: 100%;
}


.calendar-body td{
	height: 1000px;
	position: relative;
	border: 1px solid #eee;
}

.calendar-body div {
	position: absolute;
	width: 96%;
	background-color: #809DC4;
	border: 1px solid #041A9B;
	border-radius: 2px;
	font-size: .75em;
	text-align: left;
}

.calendar-body div p {
	padding: 0 6px;
}


.calendar-head {
	position: fixed;
	background-color: #FFF;
	z-index: 6;
	width: 100%;
	height: 38px;
	margin-left: 62px;
}

.head-cal {
	width: 100%;
	height: 38px;
	background-color: #FFF;
	z-index: 6;
	position: fixed;
	border-bottom: 1px solid #ddd;
}

.calendar-head {
	border-left: 1px solid #ddd;
}

.calendar-head .allday td{
	display: inline-block;
	font-size: .7em;
	height: 100%;
}

.calendar-head .allday td div {
	padding: 4px 0;
	border-radius: 3px;
	color: white;
	text-align: center;
	background-color: blue;
	margin-bottom: 2px;
}

.calendar-head .cal-dates td {
	padding-top: 12px;
	padding-bottom: 10px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #ddd;
}

.static {
	position: static;
}

#current-time {
	height: 1px;
	border: none;
	width: 100%;
	background-color: red;
	z-index: 5;4
}

.bg {
	background-color: #fff;
}

.cal-event {
	font-weight: bold;
}

.cal-event span {
	font-weight: normal;
	text-transform: uppercase;
}
/* ------------------------------- */
/*  Page Styling                   */
/* ------------------------------- */

.footer {
	padding: 20px;
	color: #555;
	font-size: .75em;
}

.footer p {
	float: right;
}

.main h2 {
	font-size: 1.5em;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.main {
	padding-top: 80px;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
}

.main .row .span12, 
.main .row .span4, 
.main .row .span8 {
	margin-left: 15px;
	margin-right: 15px;
}

.progression {
	margin-bottom: 30px;
	margin-top: 40px;
}

.progression li {
	text-align: center;
	display: inline-block;
	padding-bottom: 20px;
	width: 33%;
}


.main h3 {
	font-weight: bold;
}

.progression li.done {
	border-bottom: 3px solid green;
}

.progression li.todo {
	border-bottom: 3px solid silver;
	color:#999;
}

.progression li:after {
    content: "\00a0\00a0";
}

.progression li:before {
    position: relative;
    bottom: -1.8em;
    float: left;
    left: 50%;
    line-height: 1em;
}

.progression li.done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
.progression li.todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    height: 0.8em;
    width: 0.8em;
    font-size: 1.5em;
    bottom: -1.2em;
}

.search-split {
	margin-top: 30px;
}

.search-split .span6 {
	border-left: 1px solid #ddd;
}

.event-types {
	margin-top: 20px;

}

.event-types li {
	margin-bottom: 15px;
}

#resultshome {
	margin-bottom: 30px;
}

#results li {
	padding: 10px 0 10px 0;
	font-size: 1.2em;
	border-bottom: 1px solid #ddd;
}

#results li span {
	padding-top: 5px;
	font-size: 0.6em;
}

.results {
	min-height:350px;

}#resultshome {
	margin-bottom: 30px;
}

#resultshome li {
	padding: 10px 0 10px 0;
	font-size: 1.2em;
	border-bottom: 1px solid #ddd;
	padding-left: 10px;
}

#resultshome li span {
	padding-top: 5px;
	font-size: 0.6em;
}

.resultshome {
	min-height:350px;
}

.timeinput input[type="text"] {
	width:100px;
	text-align:center;
}

.desc {
	text-align:right;
}

.complete h2{
	padding: 30px 0 30px 0;
	border-bottom: none;
}

.addeventForm {
	padding-bottom: 40px;
}

#eventTitle-form {
	padding: 10px;
	font-weight: bold;
	width: 350px;
	font-size: 1.2em;
}

.addeventForm .addFormBox {
	width: 530px;
}

.step2 {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.where{
	margin-left: 16px;
}

.label {
	margin-right: 10px;
}

.saveButton {
	margin-bottom: 20px;
}

.saveButton button {
	font-size: .8em;
	padding: 5px 10px 5px 10px;
	margin-right: 15px;
}

.saveButton input {
	font-size: 0.8em;
}

.checkbox-repeat {
	font-size: 0.9em;
	padding: 10px 0 10px 0;
}

.checkbox-repeat input[type='checkbox'] {
	margin-top: -1px;
	margin-right: 3px;
}

.checkbox-repeat span {
	margin-right: 20px;
}

.btn {
	box-shadow: none !important;4
}

.topinfo h3{
	font-size: 1em;
	font-weight: bold;
}

.navi {
}

.navi li {
	display: inline-block;
	height: 50px;
	font-size: 0.9em;
}

.navi li a {
	color: #FFF;
	text-decoration: none;
	transition: background-color .5s;
	height: 32px;
	display: block;
	padding:18px 20px 0 20px;
}

.navi li a:hover {
	background-color: #ddd;
	color: #555;
}

.logo {
	padding-top: 12px;
}

.sub {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.adduser {
	padding-bottom: 30px;
	padding-top: 20px;
}

.users li {
	padding: 15px 20px 15px 20px;
	border-bottom: 1px solid #ddd;
}

.users li span {
	font-size: .8em;
}

.notice {
	padding: 5px 0 5px 0;
}
