{% extends "base.html" %}
{% block content %}

<div class="container">
	{% if message %}
	<p>{{ message }}</p>
	{% endif %}

	<div class="row main">
		<div class="span12">
			<div class="row">
				<div class="span12">
					<div class="page-title">
						<h2>Create Event</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<ul class="progression">
					   <li class="done">1. Choose Event Type</li><!--
					--><li class="todo">2. Event Details</li><!--
					--><li class="todo">4. Complete</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<p>Add different kind's of events. Choose which type you would like to add and then you can add a time, location, and description. You can edit it later, should it need to be changed.
					Select an event type, or select a faculty member to continue and add an event to that specific calendar.</p>
				</div>
			</div>

			<div class="row search-split">
				<div class="span3">
					<h3>Select Event Type</h3>
					<ul class="event-types">
						<li><i class="icon-calendar"></i> <a href="#">Colloquim</a></li>
						<li><i class="icon-calendar"></i> <a href="#">Distinquished Speaker Series</a></li>
						<li><i class="icon-calendar"></i> <a href="#">Conference</a></li>
						<li><i class="icon-calendar"></i> <a href="#">Symposium</a></li>
						<li><i class="icon-calendar"></i> <a href="#">Talk</a></li>
						<li><i class="icon-calendar"></i> <a href="#">Other</a></li>
					</ul>
				</div>
				<div class="span1">
					<p>Or</p>
				</div>
				<div class="span7 results">
					<h3>Select Faculty Member</h3>
					<br>
					<form>
						<div class="input-append">
							<input class="span3" id="appendedInputButton" placeholder="Search for faculty.." type="text">
							<button class="btn" type="button">Go!</button>
						</div>
					</form>
					<ul id="results">

					</div>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}



