{% extends "base.html" %}
{% block content %}

<div class="container">
	{% if message %}
	<p>{{ message }}</p>
	{% endif %}

	<div class="row main">
		<div class="span12">
			<div class="row">
				<div class="span12">
					<div class="page-title">
						<h2>Create Event</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<ul class="progression">
					   <li class="done">1. Choose Event Type</li><!--
					--><li class="done">2. Event Details</li><!--
					--><li class="todo">4. Complete</li>
					</ul>
				</div>
			</div>

		<div class="addeventForm">
			<div class="row">
				<div class="span11">
					<p>Please fill out
					the event information below. </p>
				</div>
			</div>
			
			<form method="POST">

			<div class="row">
				<div class="span11 saveButton">
					<a href="/addevent"><button class="btn">Back</button></a>
					<input type="submit" class="btn btn-warning" value="SAVE">
					<a href="/"><button class="btn">Discard</button></a>
				</div>
			</div>

			<div class="row">
				<div class="span10 step2">
					<input type="text" id="eventTitle-form" name="eventTitle" placeholder="Untitled event">
					<div class="timeinput">
						<input type="text" name="eventDateStart" value="4/27/2013">
						<input type="text" name="startTime" value="4:00 pm">
						 to 
						 <input type="text" name="endTime" value="5:00 pm">
						 <input type="text" name="eventDateEnd" value="4/27/2013">
						 <div class="checkbox-repeat">
						 	<input type="checkbox"><span>All Day</span> <input type="checkbox"><span>Repeat..</span>
						 </div>
					</div>
				</div>
			</div>
			
			<div class="row">
				 <div class="span11">
					 <strong class="label where"> Location: </strong> <input type="text" name="eventLocation" class="addFormBox" placeholder="Location">
		 		</div>
			</div>

			<div class="row">
				<div class="span11">

					<strong class="label">Description:</strong> <textarea rows="4" name= "eventDesc" class="addFormBox" placeholder="Event description here.."></textarea>
				</div>
			</div>

			</form>	
		</div>

		</div>
	</div>
</div>

{% endblock %}



