<!-- This Meeting Scheduler is written by Joseph Peacock CEN/EE 2016' 
For the University at Buffalo (SUNY) - Computer Science and Engineering Department 

Date: Janurary 2013 
Author: Joseph Peacock 
Contact: japeacoc@buffalo.edu
Page: base.html

-->

<!doctype html>
<html>
<head>
	<title>Meeting Scheduler</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../static/css/styles.css">	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="../static/js/events.js"></script>
	<script src="../static/js/base.js"></script>
	<script src="../static/js/calendar.js"></script>


</head>

<body>
	<div class="header">
		<div class="container">
			<img src="../static/img/logo.png" width="350">
		</div>
	</div>

	
{% block content %}{% endblock %}