<!-- This Meeting Scheduler is written by Joseph Peacock CEN/EE 2016' 
For the University at Buffalo (SUNY) - Computer Science and Engineering Department 

Date: Janurary 2013 
Author: Joseph Peacock 
Contact: japeacoc@buffalo.edu
Page: base.html

-->

<!doctype html>
<html>
<head>
	<title>Meeting Scheduler</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-modal.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/redmond.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }} ">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }} ">	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="{{ url_for('static', filename='js/events.js') }}"></script>
	<script src="{{ url_for('static', filename='js/base.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jqueryui.js') }}"></script>
</head>

<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="span4 logo">
					<img src="{{ url_for('static', filename='img/logo.png') }}" width="350">
				</div>
				<div class="span8">
					<ul class="pull-right navi">
						<li><a href="{{ url_for('hello') }}">View Calendars</a></li><!--
						--><li><a href="{{ url_for('addEvent') }}">Create Event</a></li><!--
						--><li><a href="{{ url_for('calManage') }}">Manage Calendars</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	
{% block content %}{% endblock %}


<!-- <div class="container">
	<div class="footer">
		<p>Built by <a href="http://www.japeacock.com">Joseph Peacock</a></p>
	</div>
</div> -->

</body>
</html>