<!-- This Meeting Scheduler is written by Joseph Peacock CEN/EE 2016' 
For the University at Buffalo (SUNY) - Computer Science and Engineering Department 

Date: Janurary 2013 
Author: Joseph Peacock 
Contact: japeacoc@buffalo.edu
Page: index.html

-->

<!doctype html>
<html>
<head>
	<title>Meeting Scheduler</title>
</head>

<body>

	<form method="post" action="/">
		<input type="text" name='searchquery'>
		<input type="submit" value ="search">
	</form>

	<p>  {% if message %} {{ message }} {% endif %}</p>

	{% for user in userList %}
	<h3> <a href="/calendar/{{ user.username }}">{{ user.name }}</a><br> {{ user.title }}</h3>
	<a href="{{ url_for('deleteuser', userid = user.id) }}">Delete</a>
	{% endfor %}

</body>	
