{% extends "base.html" %}
{% block content %}

<div class="bg">
	<div class="static">

		<div class="nav-status">
			<div class="container">
				<div class="row">
					<div class="span8">
						<p>Calendar for: {{ name }}</P>
					</div>
					<div class="span4">
						<p class="pull-right"><a class="prev-week">Prev</a> <a class="next-week">Next</a> Week of <span class="current-week"> </span> </P>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="cal-wrap">

	<div class="head-cal">
		<table class="calendar-head">
			<tr class="cal-dates">			
			</tr>
		</table>
	</div>

	<table class="times">
		<tr>
			<td>
			</td>
		</tr>
	</table>

	<table class="calendar">
		<tr class="calendar-body" >
			<td>

			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				
			</td>

		</tr>
	</table>

</div>	 

</div>
</body>	

{% endblock %}