{% extends "base.html" %}
{% block content %}

	<div class="nav-status">
		<div class="container">

			<p>Week of 24 of Februray, 2013 <a href="#" class="prev-week">Prev</a> <a href="#" class="next-week">Next</a></p>
		</div>
	</div>

	<div class="sidebar">
		Sidebar woohoo
	</div>

	<div class="cal-wrap">

	<table class="times" style="margin-top:44px;">
		<tr>
			<td>
			</td>
		</tr>
	</table>

	<table class="calendar">
		<tr class="cal-dates">			
		</tr>
		<tr class="calendar-body" >
			<td>


			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				
			</td>

		</tr>
	</table>

</div>	

</body>	

{% endblock %}