<!-- This Meeting Scheduler is written by Joseph Peacock CEN/EE 2016' 
For the University at Buffalo (SUNY) - Computer Science and Engineering Department 

Date: Janurary 2013 
Author: Joseph Peacock 
Contact: japeacoc@buffalo.edu
Page: index.html

-->

<!doctype html>
<html>
<head>
	<title>Meeting Scheduler</title>
</head>

<body>

	<form method="post" action="/">
		<input type="text" name='searchquery'>
		<input type="submit" value ="search">
	</form>

	<P>Calendar for {{ name }}</p>

	{% for event in events %}
	<h3> {{ event.name }} <br> {{ event.location }}</h3>
	<p> {{ event.description }} <br>
		From {{ event.start }} to {{ event.end }} </p>
	
	{% endfor %}

</body>	

